<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bootleg Spotify: Tunr</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h1 id='title'>Welcome to TUNR: We don't like <i>vowels</i></h1>
    <div id='nav'>
    <ul>
      <li><a href="/">View artists</a></li>
      <li><a href="/artists/addArtist">Add a new artist</a></li>

    </ul>
    </div>

      {{{ body }}}

      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <center>
        <i>music with no vowels, all right</i>
      </center>

  </body>
</html>
