<h2>Add a new item></h2>

<a href=" ? ">Go back to list</a>

<form id="todo-input">
  Enter something to do:<br>
  <input type="text" name="todo-item">
  <br>
  <br>
  <input type="submit" value="Add new task">
</form>
