<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The ToDo List of the Gods</title>
</head>
<body>
  <center>
    <h1>My Crappy ToDo List</h1>
    <a href="/addNew">Add a new task</a> | <a href="/">View task list</a>

  </center> <!-- where add new task should be? -->

    {{{body}}}

</body>
</html>
