<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The ToDo List of the Gods</title>
</head>
<body>
  <center>oh hey a persistent text</center> <!-- where add new task should be? -->

    {{{body}}}

</body>
</html>
