<h2>Add a new artist</h2>
You think you like music? Prv Yt
<p></p>
<form id="artistform" method="post">
    <div>

        <label for="name">Input Artist Name</label>
        <br>
        <input type="text" id="name" name="name">
    </div>
    <p></p>

    <div>

        <label for="album">Input Artist Album</label>
        <br>
        <input type="text" id="album" name="album">
    </div>
    <p></p>

    <div>
        <label for="bio">Input Artist Biography</label>
        <br>
          <textarea id="bio" name="bio"></textarea>
    </div>
    <p></p>
      <div>
        <div>

           <img src="{{artistImage}}"><br>
           <label for="name">Input Artist Image URL</label>
           <br>
           <input type="text" id="album" name="aristImage">

      </div>
        <p></p>
          <button type="submit">Save</button>

    </div>
</form>
