<h2>{{name}}</h2>
<img src="{{artistImage}}" alt="damn bruh nada">
<p></p>
{{bio}}

<p></p>
<div id='editContainer'>
Something not right? <a href="/artists/editArtist/{{ _id }}">Edit Artist Information</a>
</div>
