<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Our First Application</title>
</head>
<body>

    {{{ body }}} <!--render html as is its a handlebars mechanic -->

</body>
</html>
